<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>

    <div>

        <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <input autofocus matInput type="password" placeholder="Previous Password" name="Previous Password" [(ngModel)]="password.previous"
                #name="ngModel">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <input autofocus matInput type="password" placeholder="New Password" name="New Password" [(ngModel)]="password.new" #email="ngModel">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <input autofocus matInput type="password" placeholder="Confirm Password" name="Confirm Password" [(ngModel)]="password.confirm"
                #userName="ngModel">
        </mat-form-field>


    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" style="float: right;
    margin-left: 10px;">Cancel</button>
    <button mat-button cdkFocusInitial (click)="save()" style="float: right;">Ok</button>
</div>